<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group p {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <p>Please establish connection with our server's Aries Agent (Use the JSON below if no connection has been established) and use the invitation message id to the input box below</p>
        <form autocomplete="off" action="/registration/verify" method="post">
            <!-- <div class="form-group">
            <p>Connection QR code</p>
            <input type="text" id="username" name="username" placeholder="Enter your username">
            </div> -->
            <div class="form-group">
                <div style="display: flex;">
                    <p>Connection JSON</p>
                    <button  onclick="copyInvitation()" type="button">Copy JSON</button>
                </div>
                <p id="connection-json" name="connection_json" style="overflow-y: scroll;width: 100%;" ><%= invitation? invitation: "JSON missing, please resubmit your SSO request" %></p>
            </div>
            <div class="form-group">
                <label for="message-id">Your Invitation Message ID</label>
                <input type="text" id="message-id" name="message_id" placeholder="Enter your invitation message id">
            </div>
            <div class="form-group">
                <p>The server will automatically send presentation request after you press the button</p>
                <button type="button" onclick="submitForm()">Verify identity</button>
            </div>
        </form>

        <script>
            async function copyInvitation() {
                const connectionJson = document.getElementById('connection-json');
                const selection = window.getSelection();
                const range = document.createRange();
                range.selectNodeContents(connectionJson);
                selection.removeAllRanges();
                selection.addRange(range);
                document.execCommand('copy');
                selection.removeAllRanges();
                alert('JSON copied to clipboard');
            }
            async function submitForm() {
                const messageId = document.getElementById('message-id').value;
                const response = await fetch('<%=ARIES_URL%>/connections');
                const data = (await response.json()).results;
                const filteredData = data.filter(item => item.invitation_msg_id === messageId);
                if (filteredData.length === 0) {
                    alert('No connection found with the provided message ID');
                } else {
                    document.querySelector('form').submit();
                }
            }
        </script>
    </div>

</body>
</html>