<!DOCTYPE html>
<html>
   <head>
      <title>Register Page</title>
      <style>
         body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
         }
      </style>
      <link rel="stylesheet" href="./styles/style.css" />
   </head>
   <body>
      <nav class="bg-green-400">
         <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
               <div
                  class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
               >
                  <div class="flex flex-shrink-0 items-center">
                     <h1 class="text-xl font-bold">Identity Provider</h1>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <div class="max-w-xl m-auto p-5 bg-white rounded shadow mt-16">
         <h2 class="font-bold text-xl text-center">Account Registration</h2>
         <p class="text-justify">
            Please establish connection with our server's Aries Agent (Use the
            JSON below if no connection has been established) and use the
            invitation message id to the input box below
         </p>
         <form autocomplete="off" action="/registration/verify" method="post">
            <!-- <div class="form-group">
            <p>Connection QR code</p>
            <input type="text" id="username" name="username" placeholder="Enter your username">
            </div> -->
            <div class="mt-4">
               <div class="flex w-full">
                  <p>Connection JSON</p>
                  <button
                     class="w-full bg-green-500 hover:bg-green-700 active:bg-green-800 active:transform active:scale-95 text-white font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                     onclick="copyInvitation()"
                     type="button"
                  >
                     Copy JSON
                  </button>
               </div>
               <p
                  id="connection-json"
                  name="connection_json"
                  class="p-2 bg-gray-100"
                  style="overflow-y: scroll; width: 100%"
               >
                  <%= invitation? invitation: "JSON missing, please resubmit" +
                  " your SSO request" %>
               </p>
            </div>
            <div class="block mt-4">
               <p>Your Invitation Message ID</p>
               <input
                  type="text"
                  id="message-id"
                  name="message_id"
                  placeholder="Enter your invitation message id"
                  class="w-full p-2 border border-gray-300 rounded"
               />
            </div>
            <div class="mt-4">
               <p>
                  The server will automatically send presentation request after
                  you press the button
               </p>
               <button
                  class="w-full bg-green-500 hover:bg-green-700 active:bg-green-800 active:transform active:scale-95 text-white font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                  type="button"
                  onclick="submitForm()"
               >
                  Verify identity
               </button>
            </div>
         </form>
      </div>
      <script>
         async function copyInvitation() {
            const connectionJson = document.getElementById("connection-json");
            const selection = window.getSelection();
            const range = document.createRange();
            range.selectNodeContents(connectionJson);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("copy");
            selection.removeAllRanges();
            alert("JSON copied to clipboard");
         }
         async function submitForm() {
            const messageId = document.getElementById("message-id").value;
            const response = await fetch("<%=ARIES_URL%>/connections");
            const data = (await response.json()).results;
            const filteredData = data.filter(
               (item) => item.invitation_msg_id === messageId
            );
            if (filteredData.length === 0) {
               alert("No connection found with the provided message ID");
            } else {
               document.querySelector("form").submit();
            }
         }
      </script>
   </body>
</html>
